@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
body{
    min-height: 100vh;
    width: 100%;
}


body{
    padding: 0;
    margin: 0;
}

header{
    height: auto;
    z-index: 100;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    border: 2px solid black;
}

.container-column-add{
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.content-add{
    border: 1px solid black;
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    height: 50%;
    width: 50%;
}
.content-add h1{
    text-align: center;
}

#add-iconic{
    text-align: center;
    background-color: rgb(35, 221, 59);
    border: none;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#back{
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    width: 20%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}