body {
    font-family: 'Poppins';font-size: 22px;
}

.menu-container {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.menu {
    display: block;
    
}

#logo{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.menu{
    width: 290px;
    background-color: rgba(245,245,245);
    height: 911px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.menu img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu .options-menu{
    display: flex;
    flex-direction: column;
}
.options-menu button{
    font-size: 20px;
    border: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.4s;
}
.options-menu button{
    background-color: rgba(245,245,245);;
    text-align: start;
}
.options-menu button:active{
    background-color: rgba(56, 136, 255);
    color: white;
}
button:focus{
    background-color: rgba(56, 136, 255);
    color: white;
}
.contenido{
    width: 100%;
    height: 100%;
}

#opcion1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#opcion1 label{
    
    font-weight: 200;
}
.form-inputs{
    display: flex;
    gap: 50px;
    flex-direction: column;
    height: 100%;
    background-color:white;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.form-inputs input{
    height: 40px;
    width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
}
.row-1-column, .row-2-column, .row-3-column{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.column-all{
    display: flex;
    flex-direction: column;
}
#bio{
    height: 100px;
    width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
}

