@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}

body{
    padding: 0;
    margin: 0;
    background-color:white;
}

header{
    height: auto;
    z-index: 100;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
}

.logo{
    text-align: left;
}


.titlenav{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

ul li {
    margin: 0;
    display: inline-block;
    padding-right:  25px;
}



.container{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.column1{
    padding: 80px;
    gap: 35px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    height: auto;
    width: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    align-items: center;
    flex-wrap: wrap;
    
}

.title-section {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid gray;
}


.buttons-options{
    border: 1px solid #A6A6A6;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    border-radius: 30px;
    height: auto;
    width: 900px;
}
.column1 h1{
    font-size: 20px
}


.box-input{
    box-sizing: border-box;
    padding: 4px 12px;
    height: 40px;
    width: 250px;
    border-radius: 1px;
    border: 1px solid #A6A6A6;
}
.input-field{
    display: flex;
    width: 300px;
    height: 80px;
    flex-direction: column;
}
.box-input {
    border: none; /* Elimina cualquier borde */
    outline: none; /* Elimina el outline al estar enfocado */
    background-color: transparent; /* Fondo transparente */
    border-bottom: 1px solid black; /* Línea inferior */
    padding: 5px; /* Ajusta el padding según sea necesario */
}

/* Estilo para cuando el input está enfocado */
.box-input:focus {
    border-bottom: 1px solid black; /* Mantén la línea inferior */
}




#back_volver{
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

#save-product{
    text-align: center;
    background: #4DBDED;
    cursor: pointer;
    color: white;
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

#save-product:hover{
        background-color: #114378;
        transition-duration: 0.5s;
}
.contenedor-btn-file{
    height: 40px;
    width: 320px;
}